html {
    min-height: 100vh;
    background: black;
}

body {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    flex-direction: column;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h1 {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 50px 50px;
    margin: 10px 10px;
    position:relative;
}

h1.title {
    grid-row: 2/3;
    grid-column: 2/3;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

a {
    text-decoration: none;
}



h1 img {
    height: 200px;
    width: auto;
    padding: 10px 10px;
    margin: 10px 10px;
    transition: transform .3s ease-in-out;
}

h1.mash {
    grid-row: 1/2;
    grid-column: 2/3;
    top: -30vh;
    margin-bottom: 0px;
    position: relative;
    opacity: 0;
    animation: topSlide 2s forwards;
    animation-delay: .5s;
}

h1.gravy {
    grid-row: 2/3;
    grid-column: 1/2;
    left: -30vw;
    margin-bottom: 0px;
    position: relative;
    opacity: 0;
    animation: leftSlide 2s forwards;
    animation-delay: .5s;
}

h1.turon {
    grid-row: 2/3;
    grid-column: 3/4;
    right: -30vw;
    margin-bottom: 0px;
    position: relative;
    opacity: 0;
    animation: rightSlide 2s forwards;
    animation-delay: .5s;
}

h1 img:hover {
transform: scale(1.4);
}

@keyframes leftSlide  {
    100% {left: 0};
    from {opacity: 0} to {opacity: 1};
}

@keyframes rightSlide  {
    100% {right: 0};
    from {opacity: 0} to {opacity: 1};
}

@keyframes topSlide {
    100% {top: 0};
    from {opacity: 0} to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} to {opacity: 1}
}